<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd">

    <context:component-scan base-package="com.yr.service"></context:component-scan>

<!--        <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">-->
<!--            <property name="jndiName" value="mysql"/>-->
<!--            <property name="proxyInterface" value="javax.sql.DataSource"/>-->
<!--&lt;!&ndash;            <property name="lookupOnStartup" value="false"/>&ndash;&gt;-->
<!--        </bean>-->

    <context:property-placeholder location="classpath:db.properties" />
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${user}"></property>
        <property name="password" value="${password}"></property>
        <property name="driverClass" value="${driverclass}"></property>
        <property name="jdbcUrl" value="${jdbcurl}"></property>
    </bean>


    <!-- 创建sqlSessionFactory -->
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <!-- 指定数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置 MyBatisPlus 分页插件 -->
        <property name="plugins">
            <array>
                <bean class="com.baomidou.mybatisplus.extension.plugins.MybatisPlusInterceptor">
                    <property name="interceptors">
                        <list>
                            <bean class="com.baomidou.mybatisplus.extension.plugins.inner.PaginationInnerInterceptor"></bean>
                        </list>
                    </property>
                </bean>
            </array>
        </property>
        <!-- 全局 mybatis plus 策略配置 -->
        <property name="globalConfig" ref="globalConfig"/>
    </bean>

    <!-- 定义mybatis plus的全局策略配置-->
    <bean id="globalConfig" class="com.baomidou.mybatisplus.core.config.GlobalConfig">
        <property name="dbConfig" ref="dbConfig"/>
        <!--		<property name="sqlInjector" ref="customizationSqlInjector"></property>-->
        <property name="metaObjectHandler" ref="myMetaObjectHandler"></property>
    </bean>

    <bean id="myMetaObjectHandler" class="com.yr.util.MyMetaObjectHandler"></bean>

    <bean id="dbConfig" class="com.baomidou.mybatisplus.core.config.GlobalConfig.DbConfig">
        <!-- 全局的主键策略 -->
                <property name="idType" value="AUTO"/>
        <!-- 全局的表前缀策略配置 -->
        <!--        <property name="tablePrefix" value=""></property>-->

        <!-- 全局逻辑删除 -->
        <property name="logicDeleteValue" value="0"></property>
        <property name="logicNotDeleteValue" value="1"></property>
    </bean>

    <!-- 配置 mybatis plus 扫描 mapper 接口的路径 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yr.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <!-- 配置事务 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <task:annotation-driven/>

</beans>
